<h1>are you sure you want to delete <%= @user.username %>?</h1>
<h3>this will permanently delete the entire library and any orphaned games</h3>
<form action="/users/<%= @user.slug %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
