<h1>edit <%= @user.username %></h1>

<form action="/users/<%= @user.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="email">email*: </label>
  <input type="text" name="user[email]" value="<%= @user.email %>"><br>

<br>

  <label for="password">current password*: </label>
  <input type="password" name="old_password"><br>
  <label for="password">new password: </label>
  <input type="password" name="user[password]"><br>
  <label for="password">new password (confirm): </label>
  <input type="password" name="user[password_confirmation]"><br>
  <input type="submit" value="update user">
</form>
