<h1>edit user</h1>

<form action="/users/<%= @user.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="username">username: </label>
  <input type="text" name="user[username]" value="<%= @user.username %>"><br>
  <label for="email">email: </label>
  <input type="text" name="user[email]" value="<%= @user.email %>"><br>
  <label for="password">old password: </label>
  <input type="password" name="password[old]"><br>
  <label for="password">new password: </label>
  <input type="password" name="password[new]"><br>
  <input type="submit" value="update user">
</form>
