<h1>log in</h1>
<br>
<div class="error"><%= flash[:error] if flash[:error] != '' %></div>
<br>
<form action="/login" method="post">
  <label for="username">username: </label>
  <input type="text" name="username">
  <label for="password">password: </label>
  <input type="password" name="password">
  <input type="submit" value="log in">
</form>
