<h1>are you sure you want to delete <%= @game.name %>?</h1>
<h3>this will permanently delete the game and any orphaned parameters</h3>
<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
