<h1>all games</h1>

<div class="gamelist">
  <% Game.all.each do |game| %>
    <div class="gamelink">
      <a href="/games/<%= game.id %>">
        <%= game.name %></a> - 
      <%= game.console.name %>
      (<%= game.regions.map(&:name).join('/') %>)
    </div>
  <% end %>
</div>
