<h1>welcome to rombrary!</h1>
<h2><a href="/games">all games</a></h2>
<h2><a href="/games/by/console">by console</a></h2>
<h2><a href="/games/by/region">by region</a></h2>
<h2><a href="/games/by/genre">by genre</a></h2>
<h2><a href="/games/by/publisher">by publisher</a></h2>
