<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Rombrary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="header">
      <div id="logo"><a href="/">Rombrary</a></div>
      <div class="nav">
      <% if logged_in? %>
        Link to logout
      <% else %>
        link to Log in <br>
        link to Sign up
      <% end %>
      </div>
    </div>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Rombrary</strong></small>
      </footer>
    </div>
  </body>
</html>
